<div id="container">
    <ion-segment value="atoms" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="atoms">
            Atoms
        </ion-segment-button>
        <ion-segment-button value="molecules">
            Molecules
        </ion-segment-button>
        <ion-segment-button value="organism">
            Organisms
        </ion-segment-button>
    </ion-segment>

    <section *ngIf="segment === 'atoms'">
        <strong>{{ name }}</strong>
        <strong>SCROLLING</strong>

        <ion-list #lista>
            <ion-item-sliding *ngFor="let user of userList ">
                <ion-item>
                    <ion-label>
                        <h3>{{user.name}}</h3>
                        <p>{{user.email}}</p>
                    </ion-label>
                    <ion-label>{{user.phone}}</ion-label>
                </ion-item>

            </ion-item-sliding>
        </ion-list>
    </section>
</div>