<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>


    <h1> Tab without scroll</h1>

    <ion-button expand="full" color="primary" (click)="presentAlert()">
        Simple Alert
    </ion-button>

    <ion-button expand="full" color="secondary" (click)="presentAlertPrompt()">
        Prompt Alert
    </ion-button>

</ion-content>